/* Demo styles */

.showMe {
    /* Highlight the element's content area */
    background-color: rgba(255, 81, 0, 0.3); /* Light yellow with transparency */
    
    /* Highlight the border */
    outline: 3px solid rgba(3, 197, 251, 0.3); /* Blue with transparency */
  
   }


/* Body Styles */
  body {
    font-family: Menlo, 'Droid Sans Mono', Consolas, 'Courier New', monospace; 
    line-height: 1.6;
    font-size: large;
    color: #99cc99; /* Light text for dark background */
    background-color: #222; /* Dark background */
  }

/* Link Styles */
a {
    color: #0096c7; /* Teal link color for dark mode */
    text-decoration: none;
    }
    
a:hover {
    text-decoration: underline;
}


/* Bus position indicator */

.busBox {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 1px;
    row-gap: 0px;
    grid-auto-flow: row;
    min-width: 180px;
    min-height: 180px;
    font-family: Helvetica, Arial, sans-serif;
    flex-shrink: 0;
    width: max-content;
    height: auto; /* Height will adjust automatically to maintain aspect ratio */

}


    .busItem {
        display: flex;
        align-items:center;
        justify-content:space-around;
        overflow:hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        height:100%;
        width:100%;
        font-size: 1em;
    }

    .busDirection {
        justify-content: right;
        font-size: 1.5em;
    }

    .busNumber {
        font-size: 3em;
        font-weight: bolder;
        letter-spacing: 0.05em;
    }

    .busStreet {
        font-size: 1.5em;
    }

.busVehicles {
    display: flex;
    gap: 2em;
    padding: 2em;
    flex-grow: 1;
    flex-wrap: wrap;
}